.c-display{
    width: 90%;
    max-width: 720px;
    height: 360px;
    background-color: $color_white;
    margin-top: 60px;
    border-radius: 20px;
    box-shadow: 10px 8px 10px -8px rgba(0,0,0,0.5);
}